@keyframes moveToTop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-1rem);
        opacity: .5;
    }

    100% {
        transform: translateY(-2rem);
        opacity: 0;
    }
}

@keyframes expand{
  0%{
    transform: scale(.5) translateX(100%);
    opacity: .5;
  }
  50%{
    transform: scale(.5) translateX(50%);
    opacity: .8;
  }
  100%{
    transform: scale(1) translate(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes minimize{
  0%{
    transform: scale(1) translateX(0);
    opacity: 1;
  }
  50%{
    transform: scale(.8) translateX(50%);
    opacity: .8;
  }
  100%{
    transform: scale(.6) translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
}
