@import "utils";
@import "animations";

* {
    box-sizing: border-box;
}

html {
    /* Defines whole document resolution based unit*/
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $font-sans;
    overflow: hidden;
    background-color: $color-primary;
}

/* 
=============================================================================================
	BEM
=============================================================================================
*/

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .logo{
        width: 100%;
    }
}

.nav {
    width: 100%;
    text-align: center;

    &__menu {
        list-style: none;
    }

    &__item {}

    &__btn:link,
    &__btn:active,
    &__btn:visited {
        position: relative;
        display: block;
        color: $color-secondary;
        font-size: 1.8rem;
        padding: .8rem;

        span {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        i {
            transition: all .5s;
        }

        img {
            width: 2rem;
            height: 2rem;
        }

        &:hover {
            border-right: solid 3px $color-secondary;
        }

        &:hover i {
            transform: translateY(-1.5rem);
            opacity: 0;
        }

        &:hover span {
            display: block;
        }
    }
}

.section {
    /* General Section styles*/
    min-width: 92%;
    height: 100%;
    position: fixed;
    margin-left:  8%;
    overflow: hidden;
    top: 0;
    background: rgb(43, 46, 74);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
}

.present{
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    a{
        display: inline-block;
    }
}

.section-home {
    background-image: linear-gradient(90deg, rgba($color-primary, .8) 0%,
        rgba($color-quarternary, .8) 100%), url(../img/bg.jpg);
}

.section-skills {
    background-image: linear-gradient(90deg, rgba($color-primary, .8) 0%,
        rgba($color-quarternary, .8) 100%), url(../img/bg-2.jpg);
}


.skills{
    &__block{
        font-size: 2.6rem;
        color: $color-secondary;
        margin: 1rem 0rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        i{
            width: 3rem;
            margin-right: 1.5rem;
        }
    }
    &__bar{
        display: inline-block;
        width: 80%;
        height: 2.6rem;
        border-radius: .5rem;
        text-align: center;
    }
}

.portfolio{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    &__project{
        max-width: 28%;
        max-height: 100%;
        // border: solid 5px $color-quarternary;
        margin: 1rem;
        border-radius: .5rem;
        display: block;
        overflow: hidden;
        transition: all 1s;
        -webkit-box-shadow: 13px 13px 20px 5px rgba(0,0,0,0.8); 
        box-shadow: 13px 13px 20px 5px rgba(0,0,0,0.8);
        img{
           width: 100%;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    &__text{
        color: $color-white;
        padding: 1rem;
        font-size: 1.8rem;
    }
}

/* 
=============================================================================================
	Skill Specific Levels
=============================================================================================
*/
#html-lvl {
    background: rgb(204, 204, 204);
    background: linear-gradient(90deg, rgba(204, 204, 204, 1) 85%, rgba(80, 32, 58, 1) 85%);
}

#css-lvl {
    background: rgb(204, 204, 204);
    background: linear-gradient(90deg, rgba(204, 204, 204, 1) 90%, rgba(80, 32, 58, 1) 90%);
}

#sass-lvl {
    background: rgb(204, 204, 204);
    background: linear-gradient(90deg, rgba(204, 204, 204, 1) 70%, rgba(80, 32, 58, 1) 70%);
}

#js-lvl {
    background: rgb(204, 204, 204);
    background: linear-gradient(90deg, rgba(204, 204, 204, 1) 50%, rgba(80, 32, 58, 1) 50%);
}

#git-lvl {
    background: rgb(204, 204, 204);
    background: linear-gradient(90deg, rgba(204, 204, 204, 1) 40%, rgba(80, 32, 58, 1) 40%);
}
#node-lvl {
    background: rgb(204, 204, 204);
    background: linear-gradient(90deg, rgba(204, 204, 204, 1) 30%, rgba(80, 32, 58, 1) 30%);
}

#react-lvl {
    background: rgb(204, 204, 204);
    background: linear-gradient(90deg, rgba(204, 204, 204, 1) 30%, rgba(80, 32, 58, 1) 30%);
}


/* 
=============================================================================================
	Section About
=============================================================================================
*/

.section-about {
    background-image: linear-gradient(90deg, rgba($color-primary, .8) 0%,
        rgba($color-quarternary, .8) 100%), url(../img/bg-4.jpg);
}

.about-list {
    list-style: circle;
    list-style-position: inside;

    &__item {
        padding: 1rem;

        &--sub {}
    }

    &--sub {
        list-style: square;
        list-style-position: inside;
        margin-left: 1rem;
    }
}

.contact-card {

    .paragraph {
        padding: 1rem;
    }

    i {
        margin: .5rem;
    }
}

/* 
=============================================================================================
	Typography
=============================================================================================
*/

.heading-primary {
    font-size: 2.8rem;
    font-family: $font-serif;
    color: $color-white;
    font-weight: 700;
    &--highlight {
        color: $color-secondary;
    }
}

.heading-secondary {
    font-size: 2rem;
    color: $color-secondary;
}

.paragraph {
    font-family: $font-sans;
    color: $color-white;
}

.italic {
    font-weight: 100;
}

/* 
=============================================================================================
	Components
=============================================================================================
*/

.btn {
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: .5rem;
    text-decoration: none;
    transition: all .5s;
    &--white {
        color: $color-white;
        background: transparent;
        border: 2px solid $color-white;
    }

    &--blue {
        background-color: $color-primary;
        color: $color-secondary;
        border: 2px solid $color-primary;
    }
    &:hover {
        transform: scale(1.2);
    }

    &:not(:last-child) {
        margin-right: 1.5rem;
    }
}

/* 
=============================================================================================
    Functionality
=============================================================================================
*/
.u-margin-bottom-small {
    margin-bottom: 1rem;
}

.u-margin-bottom-medium {
    margin-bottom: 2rem;
}

.u-margin-bottom-big {
    margin-bottom: 3rem;
}

.active {
    visibility: visible;
    z-index: 1;
    animation: expand 1.5s ease-in;
    animation-fill-mode: forwards;
}

.inactive {
    z-index: 1;
    animation: minimize 1.5s ease-in;
    animation-fill-mode: forwards;
}
@media (max-width: 767.98px) {
    body, html{
        overflow: scroll;
        overflow-x: hidden;
    }
    .header{
        position: relative;
        height: 10rem;
        width: 100vw;
        flex-direction: row;
        .logo{
            height: 100%;
            width: auto;
        }
    }
    .nav{
        width: auto;
        &__item{
            display: inline-block;
        }
        &__btn:link,
        &__btn:active,
        &__btn:visited {
            span {
                display: none;
                position: relative;
                transform: translate(0);
            }
            &:hover {
                border: none;
            }

            &:hover i {
                opacity: 1;
                transform: translate(0);
            }
            &:hover span{
                display: none;
            }
        }
    }
    .section{
        position: relative;
        margin-left: 0;
        min-height: 100vh;
        padding: 5rem;
    }
    .section-skills{
        margin-top: -1rem;
        background-color: $color-primary;
        background-image: none;
        z-index: -1;
    }
    .portfolio{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    &__project{
        max-width: 100%;
        max-height: 100%;
        // border: solid 5px $color-quarternary;
        margin: 5rem;
        border-radius: .5rem;
        display: block;
        overflow: hidden;
        transition: all 1s;
        -webkit-box-shadow: 13px 13px 20px 5px rgba(0,0,0,0.8); 
        box-shadow: 13px 13px 20px 5px rgba(0,0,0,0.8);
        img{
           width: 100%;
        }
        &:hover{
            transform: scale(1.5);
        }
    }
    &__text{
        color: $color-white;
        padding: 1rem;
    }
}

    .heading-secondary{
        text-align: center;
    }

    .inactive{
        z-index: 1;
        animation: none;
        animation-fill-mode: none;
    }
    .active{
        z-index: 1;
        animation: none;
        animation-fill-mode: none;
    }
}