@import "utils";
@import "animations";
@import "media";

* {
    box-sizing: border-box;
}

html {
    /* Defines whole document resolution based unit*/
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $font-sans;
    overflow: hidden;
    background-color: $color-primary;
}

/* 
=============================================================================================
	BEM
=============================================================================================
*/

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .logo-box {
        width: 100%;
    }

    .logo {
        width: 100%;
    }
}

.nav {
    width: 100%;
    text-align: center;

    &__menu {
        list-style: none;
    }

    &__item {}

    &__btn:link,
    &__btn:active,
    &__btn:visited {
        position: relative;
        display: block;
        color: $color-secondary;
        font-size: 1.8rem;
        padding: .8rem;

        span {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        i {
            transition: all .5s;
        }

        img {
            width: 2rem;
            height: 2rem;
        }

        &:hover {
            border-right: solid 3px $color-secondary;
        }

        &:hover i {
            transform: translateY(-1.5rem);
            opacity: 0;
        }

        &:hover span {
            display: block;
        }
    }
}

.section {
    /* General Section styles*/
    width: 100%;
    height: 100%;
    position: fixed;
    margin-left:  8%;
    overflow: hidden;
    top: 0;
    background: rgb(43, 46, 74);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-content {
    /* General content styles*/
    padding: 2rem;
}

.section-home {
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg, rgba($color-primary, .8) 0%,
        rgba($color-quarternary, .8) 100%), url(../img/bg.jpg);

    .section-content {}
}

.section-skills {
    background-image: linear-gradient(90deg, rgba($color-primary, .8) 0%,
        rgba($color-quarternary, .8) 100%), url(../img/bg-2.jpg);

    .section-content {
        /* Specific code for skills content*/
    }
}

.skill-table {
    font-size: 1.8rem;

    &__row {}

    &__label {
        color: $color-white;
        text-transform: uppercase;
        padding-right: 1.8rem;
    }

    &__lvl {
        background-color: white;
        width: 80%;
        text-align: center;
        background: #ccc;
        padding: 1rem 1.5rem;
        color: $color-secondary;
        font-weight: 700;
        font-family: $font-sans;
        border-radius: .5rem;
    }
}

/* 
=============================================================================================
	Skill Specific Levels
=============================================================================================
*/
#html-lvl {
    background: rgb(204, 204, 204);
    background: linear-gradient(120deg, rgba(204, 204, 204, 1) 85%, rgba(80, 32, 58, 1) 85%);
}

#css-lvl {
    background: rgb(204, 204, 204);
    background: linear-gradient(120deg, rgba(204, 204, 204, 1) 90%, rgba(80, 32, 58, 1) 90%);
}

#sass-lvl {
    background: rgb(204, 204, 204);
    background: linear-gradient(120deg, rgba(204, 204, 204, 1) 70%, rgba(80, 32, 58, 1) 70%);
}

#js-lvl {
    background: rgb(204, 204, 204);
    background: linear-gradient(120deg, rgba(204, 204, 204, 1) 50%, rgba(80, 32, 58, 1) 50%);
}

#git-lvl {
    background: rgb(204, 204, 204);
    background: linear-gradient(120deg, rgba(204, 204, 204, 1) 50%, rgba(80, 32, 58, 1) 50%);
}

#react-lvl {
    background: rgb(204, 204, 204);
    background: linear-gradient(120deg, rgba(204, 204, 204, 1) 30%, rgba(80, 32, 58, 1) 30%);
}


/* 
=============================================================================================
	Section About
=============================================================================================
*/

.section-about {
    background-image: linear-gradient(90deg, rgba($color-primary, .8) 0%,
        rgba($color-quarternary, .8) 100%), url(../img/bg-4.jpg);

    .section-content {
        color: $color-white;
        width: 50%;
        font-size: 1.8rem;
    }

    .nav {
        display: none;
    }
}

.about-list {
    list-style: circle;
    list-style-position: inside;

    &__item {
        padding: 1rem;

        &--sub {}
    }

    &--sub {
        list-style: square;
        list-style-position: inside;
        margin-left: 1rem;
    }
}

.contact-card {

    .paragraph {
        padding: 1rem;
    }

    i {
        margin: .5rem;
    }
}

/* 
=============================================================================================
	Typography
=============================================================================================
*/

.heading-primary {
    font-size: 2.8rem;
    font-family: $font-serif;
    color: $color-white;
    font-weight: 700;

    &--highlight {
        color: $color-secondary;
    }
}

.heading-secondary {
    font-size: 2rem;
    color: $color-secondary;
}

.paragraph {
    font-family: $font-sans;
    color: $color-white;
}

.italic {
    font-weight: 100;
}

/* 
=============================================================================================
	Components
=============================================================================================
*/

.btn {
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: .5rem;
    text-decoration: none;
    transition: all .5s;

    &--white {
        color: $color-white;
        background: transparent;
        border: 2px solid $color-white;
    }

    &--blue {
        background-color: $color-primary;
        color: $color-secondary;
        border: 2px solid $color-primary;
    }

    &--list,
    &--list:focus {
        padding: .5rem;
        height: 100%;
        width: 25%;
        font-size: 3rem;
        background-color: transparent;
        border: none;
        outline: none;
        color: $color-secondary;
        position: relative;
    }

    &--list::after {
        @include clearfix;
    }

    &:hover {
        transform: scale(1.2);
    }

    &:not(:last-child) {
        margin-right: 1.5rem;
    }
}

/* 
=============================================================================================
    Functionality
=============================================================================================
*/
.btn--list {
    display: none; // Do not remove this line.
}

.hamburguer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.cancel {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.u-margin-bottom-small {
    margin-bottom: 1rem;
}

.u-margin-bottom-medium {
    margin-bottom: 2rem;
}

.u-margin-bottom-big {
    margin-bottom: 3rem;
}

.active {
    visibility: visible;
    z-index: 1;
    animation: expand 1.5s ease-in;
    animation-fill-mode: forwards;
}

.inactive {
    z-index: 1;
    animation: minimize 1.5s ease-in;
    animation-fill-mode: forwards;
}

