.heading-primary {
    font-size: 2.8rem;
    font-family: $font-serif;
    color: $color-white;
    font-weight: 700;

    &--highlight {
        color: $color-secondary;
    }
}

.heading-secondary {
    font-size: 2rem;
    color: $color-secondary;
}

.paragraph {
    font-family: $font-sans;
    color: $color-white;
}