.heading-primary {
    font-size: 3.5rem;
    font-family: $font-serif;
    color: $color-white;
    font-weight: 700;
    &--highlight {
        color: $color-secondary;
        display: block;
    }
}

.heading-secondary {
    font-size: 2rem;
    color: $color-secondary;
}

.paragraph {
    font-family: $font-sans;
    color: $color-white;
}